body{background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(6,68,160,1) 50%, rgba(0,255,123,1) 80%);
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: large;
    color:hsl(340, 73%, 59%)
}

.subtitle{
    background: rgba(0,255,123,1);
    border: 2px solid #e9e9e9;
    border-radius: 5px;
    color: hsl(340, 73%, 59%);
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 0px 20px;
    border-bottom: 3px solid hsl(340, 73%, 59%);
    width: 12%;
    text-align: center
  }

.left{
    display: inline-block;
    float: left ;
    width: 45%;
    height: 100%;
    padding: 48px;
  }

.right {
    display: inline-block;
    float: right;
    width: 45%;
    height: 100%;
    padding: 24px;
  }
  .arthur{
    background: transparent;
    background: url("../YiningPortfolio/image/mypic.jpg") 40% no-repeat;
    background-size: auto 100%;
    border-radius: 1px;
    padding: 0px 0px 0px 0px;
  }