body{background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(6,68,160,1) 50%, rgba(0,255,123,1) 80%);
    font-family: 'Open Sans Condensed', sans-serif;
    color:hsl(340, 73%, 59%)
}

.subtitle{
    background: rgba(0,255,123,1);
    border: 2px solid #e9e9e9;
    border-radius: 5px;
    color: hsl(340, 73%, 59%);
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 0px 2px;
    
  }

.left{
    display: inline-block;
    float:left;
    width: 45%;
    height: 100%;
    padding: 30px 40px;
  }

.right {
    display: inline-block;
    float:right;
    width: 45%;
    height: 100%;
    padding: 30px 20px;
  }

  p:hover {
    font-size: 14pt;
    color:rgb(255, 255, 255);
    background-color: rgba(255, 255, 255,.2);
    border: transparent 1pt rgb(255, 255, 255);
  }

 
.back{color:rgb(255, 255, 255)}

a{color:aqua}

.left:hover,.right:hover {
  font-size: 14pt;
  color:rgb(0, 0, 0);
  background-color: rgba(255, 255, 255,.2);
  border: transparent 1pt rgb(255, 255, 255);
}

.arthur_left{
  display: inline-block;
  float:left;
  width: 45%;
  height: 100%;
  padding: 30px 40px;
  }

.arthur_right{    display: inline-block;
  float:right;
  width: 45%;
  height: 100%;
  padding: 30px 20px;}


.arthur_right:hover{
  background: url("../Lina-Bo-Bardi1946.jpg") 40% no-repeat;
  background-size: auto 90%;
  font-size: 14pt;
    color:rgb(0, 0, 0);
    background-color: rgba(255, 255, 255,.2);
    border: transparent 1pt rgb(255, 255, 255);
}

.arthur_left:hover{
  background: url("../Lina-Bo-Bardi1946.jpg") 40% no-repeat;
  background-size: auto 90%;
  font-size: 14pt;
    color:rgb(0, 0, 0);
    background-color: rgba(255, 255, 255,.2);
    border: transparent 1pt rgb(255, 255, 255);
}