body{background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(6,68,160,1) 50%, rgba(0,255,123,1) 80%); 
    font-family: 'Open Sans Condensed', sans-serif;
    color:hsl(340, 73%, 59%)
}

.headpic{
  transform: scaleY(0.7);
 }

.headpic:hover{
  opacity: .8;
  filter:alpha(opacity=100);
  
}
.subtitle{
    background: rgba(0,255,123,1);
    border: 2px solid #e9e9e9;
    border-radius: 5px;
    color: hsl(340, 73%, 59%);
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 0px 2px;
    
  }
.main{
  display: flex;
}


.left,.right{
    display: inline-block;
    height: 100%;
    padding: 30px 40px;
    flex-direction: column;
  }

  p:hover {
    font-size: 14pt;
    color:rgb(255, 255, 255);
    background-color: rgba(255, 255, 255,.2);
    border: transparent 1pt rgb(255, 255, 255);
  }
  h1:hover {
    font-size: 28pt;
    color:rgb(255, 255, 255);
    background-color: rgba(255, 255, 255,.2);
    border: transparent 1pt rgb(255, 255, 255);
  }
 

.back{color:rgb(17, 112, 255)}

.back:hover{
  color: rgb(255, 255, 255);
  font-style: italic;
  transition: color 1s, font-style 2s;
}

a{color:aqua}

.left:hover,.right:hover {
    color:rgb(0, 0, 0);
  background-color: rgba(255, 255, 255,.2);
  border: transparent 1pt rgb(255, 255, 255);
}

#arthur{
  color:hsl(340, 73%, 59%);
  display: inline-block;
  float:left;
  width: 100%;
  line-height:30%;
  padding: 10px 0px 70px;
  }


#arthur:hover{
  background: url("../image/Lina-Bo-Bardi1946.jpg") 80% no-repeat;
  background-size: auto 90%;
  font-size: 14pt;
    color:rgb(0, 0, 0);
    background-color: rgba(255, 255, 255,.2);
    border: transparent 1pt rgb(255, 255, 255);
}

@media only screen and (min-width: 320px) and (max-width: 1200px) {
  body {
    background: #561766;
    color:aliceblue
  }
}
@media (max-width: 1200px) {
  .main {
    flex-direction: column;
    height:60%;
   }
  .left{
    width: 80%;
  } 
  .right{
    width:80%;
  }
}

nav {
  height: 60%;
}

ul.container {
  width:100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: start;
  
  list-style: none;
  background: rgba(0,255,123,1);
  margin: 0;
  line-height: 60px;
}

.container a {
  text-decoration: none;
  color: #c2c2c2;
}

li {
  font-size: 20pt;
  flex-direction: column;
  padding: 0 10%;
}

li:hover {
  animation: colors 1s ease-in-out .2s;
}

@keyframes colors {
  0% {
    background-color: rgba(0,255,123,1);
  }
  100% {
    background-color:rgb(6, 0, 92);
  }

}
.square{
  width: 40%;
}
.square:hover{
  transform: rotate(3deg) scale(1.2,1) skewY(0deg) translate(0px,0px);
  transform-origin: 0 100%;
  background-color: rgb(255, 255, 255);
  transition-property: background-color;
  transition-duration: 2s;
  transition-timing-function: steps(3, jump-start);
  transition-delay: .1s;
}



